.cat-gallery.container {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}

.cat-gallery h3 {
  margin-left: 10px;
}

.cat-gallery .flex-grid-thirds {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: row;
}

.cat-gallery .flex-grid-thirds .col {
  flex: 1 1 auto; /* Standard syntax */
  -webkit-flex: 1 1 auto; /* Safari */
  margin: 10px;
  width: 32%;
}

.cat-gallery .gallery-card {
  background: transparent;
  border: 1px solid grey;
}

.cat-gallery .gallery-card img {
  margin-bottom: -50px;
  object-fit: cover;
  object-position: 0px -45px;
}

.cat-gallery .gallery-card a:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .cat-gallery .flex-grid-thirds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:  10px;
    max-width: 660px;
  }

  .cat-gallery .flex-grid-thirds .col {
    flex: 1; /* Standard syntax */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    width: 100%;
    margin: 0 0 10px 0;
}
}
