.cat-gallery.container {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}

.cat-gallery h3 {
  margin-left: 10px;
}

.cat-gallery .flex-grid-thirds {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: row;
}

.cat-gallery .flex-grid-thirds .col {
  display: flex;
  margin: 10px;
  width: 32%;
}

.cat-gallery .gallery-card {
  background: transparent;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.cat-gallery .gallery-card img {
  margin-bottom: -50px;
  object-fit: cover;
  object-position: 0px -45px;
}

.cat-gallery .gallery-card a:not(:last-child) {
  margin-right: 15px;
}

.gallery-card p:first-of-type {
  flex: 1 0 auto;
}

@media only screen and (max-width: 768px) {
  .cat-gallery .flex-grid-thirds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:  10px;
    max-width: 660px;
  }

  .cat-gallery .flex-grid-thirds .col {
    flex: 1; /* Standard syntax */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    width: 100%;
    margin: 0 0 10px 0;
}
}



/*Flex items*/
.list {
  display: flex;
}
.list-item {
	display: flex; 
  padding: 0.25em;
	width: 100%;
	border: 1px solid grey;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
.list-content {
  display: flex;
  flex-direction: column;
  padding: .5em;
	width: 100%;
}
.list-content p:first-of-type {
	flex: 1 0 auto;
}

